flask
redis
responses
langchain-core
langchain-community
streamlit
ollama
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu

torch

transformers==4.20.1
sentencepiece
arxiv
wikipedia
langchainhub

#wikipedia
